h2.subtitle {
    font-size: 25px;
    margin-left: 10%;
    background-color: gray;
}

h2.maintitle{
    font-size: 40px;
    margin-top: 5%;
    margin-left: 35%;
    padding-bottom: 12%;
}

input.rangeInput{
    size: 4;
}

div.headerDivOne{
    width: 39%;
    float: left; 
    background-color: gray;
}

div.headerDivTwo{
    background-color: green;
    width: 60%;
    border-style: solid; 
}

div.upperRng{
    padding-right: 10%;
    padding-left: 10%;
    float: right;
}

div.lowerRng{
    padding-left: 10%;
    padding-right: 10%;
    float: left;
}

button.btnIO{
    margin-left: 2%;
}

div.rangeBar{
    float: center;
    padding-left: 30%
}

div.btnsIOAuto{
    width: 35%;
    margin-left: 20%;
    color:red;
}

div.btnsIOInActive{
    width: 30%;
    float: left;
}

div.btnsIOActive{
    width: 35%;
    float: right;
}

div.btnsOn{
    float:left;
    margin-left: 25%;
}


#btnIO img {
    display: block;
    height: 30px;  
    width: 30px;
    
}

div.bodyDivMain{
    float:left; 
    width:100%;
    border-style: solid; 
}

div.btnsOff{
    float:right;
    margin-right: 25%;
}

input.btnsIO{
    margin-bottom: 3%;
}

input.txt_rangeSubmit{
    margin-left: 47%;
    
}
